<configuration>

    <springProfile name="dev">
        <property resource="logback-dev.properties"/>
    </springProfile>
    <springProfile name="prod">
        <property resource="logback-prod.properties"/>
    </springProfile>

    <property name="LOG_DIR" value="${log.file.path}"/>
    <property name="LOG_PATH" value="${LOG_DIR}/nextrot.log"/>
    <property name="LOG_ACCESS_PATH" value="${LOG_DIR}/nextrotAccess.log"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level| %d{yyyy-MM-dd HH:mm:ss} |[ %F:%L ] %method | %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}</file>
        <encoder>
            <pattern>%-5level| %d{yyyy-MM-dd HH:mm:ss} |[ %F:%L ] %method | %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/nextrot_%d{yyyyMMdd}_%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="CALL_ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ACCESS_PATH}</file>
        <encoder>
            <pattern>%-5level| %d{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/nextrotAccess_%d{yyyyMMdd}_%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
    </appender>
    <logger name="com.example.myapp" level="INFO">
        <appender-ref ref="ROLLING_FILE"/>
    </logger>
    <logger name="com.example.demo.config" level="INFO">
        <appender-ref ref="CALL_ROLLING_FILE"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>